@import '../../assets/styles/main.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filterABC {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: $spacer-l;

    span {
      cursor: pointer;
      font-size: $spacer-l;
      color: #b14e5f;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.cards__container {
  display: flex;
  flex-wrap: wrap;

  .card {
    min-width: $spacer-xl*8;
  }
}
