.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__back-arrow {
    max-width: 3rem;
  }
}

.card-detail__container {
  display: flex;
  justify-content: space-evenly;

  .ids__container {
    display: flex;
    justify-content: space-between;

    span:first-child {
      margin-right: .8rem;
    }
  }
}