@import '../../assets/styles/main.scss';

h1 {
  text-align: center;
}

.card {
  max-width: 600px;
  margin: $spacer-xl auto;
  padding: $spacer-xl;
  border: 1px solid #ddd;
  border-radius: $spacer-s;
  box-shadow: 0 $spacer-xs/2 $spacer-s rgba(0, 0, 0, 0.1);

  div {
    margin-top: $spacer-m;
  }

  p {
    background: #f9f9f9;
    padding: $spacer-l;
    border-radius: $spacer-xs;
    border: 1px solid #ddd;
    margin-bottom: $spacer-m;
  }
}

.links__container {
  display: flex;
  justify-content: center;

  .link__container:first-child {
    margin-right: $spacer-l;
  }
}
