h1 {
  text-align: center;
}

.card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  div {
    margin-top: 20px;
  }

  p {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
}

.links__container {
  display: flex;
  justify-content: center;

  .link__container:first-child {
    margin-right: 1rem;
  }
}
